<ng-container *ngIf="activity">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
    <div class="px-4 py-5 flex-auto">
      <div
        class="text-white p-3 text-center inline-flex items-center justify-center w-24 h-24 mb-5 shadow-lg rounded-full"
        [class]="'bg-' + activity.colour + '-400'"
      >
        <fa-icon [size]="'3x'" [icon]="icons[activity.icon]"></fa-icon>
      </div>
      <h6 class="text-xl font-semibold">{{activity.title}}</h6>
      <p class="mt-2 mb-4 text-gray-600">
          {{activity.description}}
      </p>
    </div>
  </div>
</ng-container>
