<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;"><!--    https://source.unsplash.com/1dvt_WEljUo/1600x900-->
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style='background-image: url("https://images.unsplash.com/photo-1528875286060-c8d025d7c15c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9");'
  >
      <span
        class="w-full h-full absolute opacity-75 bg-black"
        id="blackOverlay"
      ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <h1 class="text-white font-semibold text-5xl">
            Tech Dorset
          </h1>
          <p class="mt-4 text-lg text-gray-300">
            This is a simple example of a Landing Page you can build using
            Tailwind Starter Kit. It features multiple CSS components
            based on the Tailwindcss design system.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px; transform: translateZ(0px);"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      xmlns="http://www.w3.org/2000/svg"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>
