<div class="px-6">
  <img
    alt="..."
    class="shadow-lg rounded-full max-w-full mx-auto"
    src="assets/hosts/matt.jpg"
    style="max-width: 120px;"
  />
  <div class="pt-6 text-center">
    <h5 class="text-xl font-bold">Ryan Tompson</h5>
    <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
      Web Developer
    </p>
    <div class="mt-6">
      <button
        class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
        type="button"
      >
        <i class="fab fa-twitter"></i></button
      >
      <button
        class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
        type="button"
      >
        <i class="fab fa-facebook-f"></i></button
      >
      <button
        class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
        type="button"
      >
        <i class="fab fa-dribbble"></i>
      </button>
    </div>
  </div>
</div>
