<section class="pt-20 pb-48">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold">Your Tech Dorset Hosts</h2>
        <p class="text-lg leading-relaxed m-4 text-gray-600">
          You might not see us all every month as we rotate in and out,
          but we would all love to see you and chat at the next meet up.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap justify-around">
      <ng-container *ngFor="let host of hosts">
        <app-host-card [host]="host" class="lg:mb-0 mb-12 px-4"></app-host-card>
      </ng-container>
    </div>
  </div>
</section>
